<button id="goBack" style = "margin-top: 6px; border-radius: 15px; width: 100px; height: 25px; background-color: #999999;">Go Back</button>

<h1 id="header" style = "text-align: center;">Aces Up Espanol</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body style="position: relative; background-color: #ffbbbb;">

<!-- start outer div -->

<div style = "overflow: scroll; position: relative; text-align: center; border: none; display: block; width: auto; self-align:center; content-align:center; height: 100%;">

<!-- insert div here -->

<div style = "border: none; vertical-align: top; border-radius: 10px; margin-bottom: 18px; height: 58%; display: inline-block;">

<table style="background-color: #bebebe; border-radius: 5px; height: 104%; border-spacing: 10%; border: solid; border-color: #bebebe;">
    <tr class="title">
        <td style="font-size: 18px;">Column 1</td>
        <td style="font-size: 18px;">Column 2</td>
        <td style="font-size: 18px;">Column 3</td>
        <td style="font-size: 18px;">Column 4</td>
    </tr>

    <tr><td class="columnOfCards" id="c0" style="background-color: #00006C; border: solid; border-color: #00006C; border-radius: 10px;">
        <table>
            <tr><td class="cardLocation l0" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l1" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l2" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l3" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l4" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l5" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l6" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l7" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l8" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l9" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l10" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l11" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l12" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
            <tr><td class="cardLocation l13" style="background-color: #9BC4E2; border: solid; border-color: #9BC4E2; border-radius: 5px; border: 1px;"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1" style="background-color: #006400; border: solid; border-color: #006400; border-radius: 10px;">
            <table>
                <tr><td class="cardLocation l0" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l1" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l2" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l3" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l4" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l5" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l6" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l7" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l8" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l9" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l10" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l11" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l12" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l13" style="background-color: #7FB17F; border: solid; border-color: #7FB17F; border-radius: 5px; border: 1px;"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2" style="background-color: #999900; border: solid; border-color: #999900; border-radius: 10px;">
            <table>
                <tr><td class="cardLocation l0" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l1" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l2" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l3" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l4" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l5" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l6" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l7" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l8" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l9" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l10" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l11" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l12" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l13" style="background-color: #FFFF99; border: solid; border-color: #FFFF99; border-radius: 5px; border: 1px;"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3" style="background-color: #6B0000; border: solid; border-color: #6b0000; border-radius: 10px;">
            <table>
                <tr><td class="cardLocation l0" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l1" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l2" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l3" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l4" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l5" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l6" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l7" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l8" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l9" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l10" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l11" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l12" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
                <tr><td class="cardLocation l13" style="background-color: #FF91A4; border: solid; border-color: #FF91A4; border-radius: 5px; border: 1px;"></td></tr>
            </table>
        </td>
    </tr>
</table>

<!-- end div here -->

</div>

<!-- insert div here -->

<div style = "border: solid; border-radius: 15px; border-color: #bebebe; background-color: #bebebe; vertical-align: top; display: inline-block; height: 59%; text-align: center;">

<button id="dealButton" style = "border-radius: 15px; width: 100%; height: 19%; background-color: #999999;">Hit Me</button>
<BR>Remove from: 
<BR><button id="Remove1" style = "margin-top: 2px; border-radius: 5px; width: 100%; height: 6%; background-color: #00006C;">Column 1</button>
<BR><button id="Remove2" style = "margin-top: 2px; border-radius: 5px; width: 100%; height: 6%; background-color: #006400;">Column 2</button>
<BR><button id="Remove3" style = "margin-top: 2px; border-radius: 5px; width: 100%; height: 6%; background-color: #999900;">Column 3</button>
<BR><button id="Remove4" style = "margin-top: 2px; border-radius: 5px; width: 100%; height: 6%; background-color: #6B0000;">Column 4</button>

<BR>Move from: 
<BR>column 
<BR><input style = "text-align: center; border-radius: 10px; width: 100%; height: 6%; background-color: #cccccc;" type="text" id="from_col"  /> 
<BR>to
<BR><input style = "text-align: center; border-radius: 10px; width: 100%; height: 6%; background-color: #cccccc;" type="text" id="to_col"  /> 
<BR><button id="moveButton" style = "margin-top: 6px; border-radius: 15px; width: 100%; height: 18.5%; background-color: #999999;">Move</button>

<!-- end div here -->

</div>

<div style = "border:solid; border-color: #bebebe; background-color: #bebebe; border-width: 5px; vertical-align: top; height: 58.3%; border-radius: 10px; display: inline-block;">
<!--<p>Rules:</p>-->

<object type="text/html" data="/sidebar" style="height: 100%;"></object>

</div>


<!-- end outer div -->

</div>

<!-- code/game access scripts -->

<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html("<div class=\"card s0\" style=\"border-bottom: solid blue;\">"+"<p style=\"text-align: left;\">"+val.value+"</p>"+"<h2 style=\"text-align: center;\">"+val.suit+"</h2>"+"<p style=\"text-align: right;\">"+val.value+"</p>");
    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html("<div class=\"card s0\" style=\"border-bottom: solid green;\">"+"<p style=\"text-align: left;\">"+val.value+"</p>"+"<h2 style=\"text-align: center;\">"+val.suit+"</h2>"+"<p style=\"text-align: right;\">"+val.value+"</p>");
    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html("<div class=\"card s0\" style=\"border-bottom: solid yellow;\">"+"<p style=\"text-align: left;\">"+val.value+"</p>"+"<h2 style=\"text-align: center;\">"+val.suit+"</h2>"+"<p style=\"text-align: right;\">"+val.value+"</p>");
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html("<div class=\"card s0\" style=\"border-bottom: solid red;\">"+"<p style=\"text-align: left;\">"+val.value+"</p>"+"<h2 style=\"text-align: center;\">"+val.suit+"</h2>"+"<p style=\"text-align: right;\">"+val.value+"</p>");
    });



}

$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#goBack").click(function(){
 window.location="/AcesUp";
});

</script>



</body>

<!-- footer -->

<object type="text/html" data="/footer" style="vertical-align: bottom; width: 100%; display: block; text-align: center; height: 10%;"></object>

</html>
