<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>

    <h1>Aces Up Instruction</h1>
    <h2>Rules on how to play:</h2>
    <li>Deal four cards in a row face up.</li>
    <li>If there are two or more cards of the same suit, discard all but the highest-ranked card of that suit.</li>
    <li>Repeat step 2 until there are no more pairs of cards with the same suit</li>
    <li>If there is/are any empty space(s), you may choose the top card or another pile to be put into the empty space.</li>
    <li>When there are no more cards to move or remove, go to step 1</li>
    <li>When all the cards have been dealt out and any moves made, the game is over</li>
    <li>To win, the table can only contain four aces.Otherwise you lose.</li>

</body>
</html>