<h1 id="header" style = "text-align: center;">Welcome!</h1>
<h2 id="header" style = "text-align: center;">Please choose a game style:</h2>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body style="position: relative; background-color: #dedede;">

<!-- start outer div -->

<div style = "overflow: scroll; position: relative; text-align: center; border: none; display: block; width: auto; self-align:center; content-align:center; height: 100%;">

<!-- insert div here -->

<div style = "border: solid; border-radius: 15px; border-color: #bebebe; background-color: #bebebe; vertical-align: top; display: inline-block; height: 110px; text-align: center;">

<button id="engGame" style = "border-radius: 15px; width: 300px; height: 100px; background-color: #999999;">English</button>
<button id="espGame" style = "margin-top: 6px; border-radius: 15px; width: 300px; height: 100px; background-color: #999999;">Spanish</button>

<!-- end div here -->

</div>

<!-- end outer div -->

</div>

<!-- code/game access scripts -->

<script>


$("#engGame").click(function(){
 window.location="/AcesUp/English";
});


$("#espGame").click(function(){
 window.location="/AcesUp/Spanish";
});


</script>



</body>

<!-- footer -->

<object type="text/html" data="/footer" style="vertical-align: bottom; width: 100%; display: block; text-align: center; height: 10%;"></object>

</html>
